conf/RuleSet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="definition">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="arguments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="argument" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="type" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
          <xs:element name="results">
              <xs:complexType>
                  <xs:sequence>
                      <xs:element name="result" maxOccurs="unbounded" minOccurs="1">
                          <xs:complexType>
                              <xs:simpleContent>
                              <xs:extension base="xs:string">
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                              </xs:extension>
                              </xs:simpleContent>
                          </xs:complexType>
                      </xs:element>
                  </xs:sequence>
              </xs:complexType>
          </xs:element>
        <xs:element name="rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="condition"/>
                    <xs:element type="xs:string" name="body"/>
                  </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="reduce"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>